.Forward-main {
    padding: 60px 10px 5px 40px;
   font-family: 'Times New Roman', Times, serif;
}
.Forward-title{
    color: black;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: condensed;
}
.Forward-matter{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 30px;
}
.Forward-button{
    margin: 10px;
    padding: 10px 10px 10px 30px;
    border-radius: 25px;
    width: 140px;
    height: 20px;
    color: white;
    background-color: #0756A4;
}
.Forward-image{
   width: 370px;
   position: absolute;
   left: 800px;
   top: 700px;
   padding-top: 20px;
}